<ion-view view-title="InterApp">

    <ion-content>
        <div class="content">
            <div class="list condensed-space no-padding">
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image x2" href="#/app/busquedainterhospitales" >
                        <h2>Modulos INTER en hospitales</h2>
                        <img src="img/secciones/ModulosINTER.png">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image x2" href="#/app/conveniosinter">
                        <h2>Convenios INTER</h2>                        
                        <img src="img/secciones/ConveniosINTER.png">
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
    
</ion-view>