<ion-view view-title="InterApp">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/ModulosINTER.png');">
            <div class="content">
                <h3><a class="light">Hospitales</a></h3>
            </div>
        </div>
        <div class="text-center">
          <br>
          Consulta el listado de Servicios
        </div>
        <div class="card">
          <div class="item item-text-wrap text-center busqueda"> 
            <form ng-submit="buscar()">
              <fieldset>
                <legend>Directorio de Hospitales</legend>
                <br>
                <label class="item item-input item-select">
                    <div class="input-label">
                          Estado
                    </div>
                    <select ng-options="estado.id as estado.name for estado in estados" ng-model="datos.estado" ng-change="CiudadEstado(datos.estado)">
                        <option value="">Selecciona</option>
                    </select>
                </label>
                <br>
                <label class="item item-input item-select">
                    <div class="input-label">
                          Ciudad o Delegación
                    </div>
                    <select ng-options="ciudad.id as ciudad.name for ciudad in ciudades | filter:{estado_id:datos.estado}" ng-model="datos.ciudad">
                        <option value="">Selecciona</option>
                    </select>
                </label>
                <br>
                
                <div class="padding-leftright">
                    <button type="submit" class="button button-raised button-full button-positive ink">Buscar</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="item item-text-wrap text-center"> 
          <strong>
            La información se indica con fines informativos, Interprotección no se hace responsable de la información aquí establecida, en el entendido que la misma podrá variar sin previo aviso.
          </strong>
        </div>
    </ion-content>
    
</ion-view>

<script>
    Waves.attach('.button');
</script>  