<ion-view view-title="Directorio">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/DirectorioDeHospitales.jpg');">
            <div class="content">
                <h3><a class="light">Resultado</a></h3>
            </div>
        </div>
        <div class="text-left margin-left">
          <h2>Hospitales</h2>
        </div>
        <div class="list resultados">

          <div class="card padding">
            <a class="item item-icon-left" href="#">
              <i class="icon ion-person"></i>
              Hospital ABC Observatorio
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-telephone-outline"></i>
              Tel. 56620109
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-home-outline"></i>
              Sur 136 No.116 
            </a>
            <a class="item item-icon-left" href="#">
              Colonia Las Americas
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-social-google"></i>
              www.abchospital.com
            </a>
          </div>

          <div class="card padding">
            <a class="item item-icon-left" href="#">
              <i class="icon ion-person"></i>
              Hospital ABC Observatorio
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-telephone-outline"></i>
              Tel. 56620109
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-home-outline"></i>
              Sur 136 No.116 
            </a>
            <a class="item item-icon-left" href="#">
              
              Colonia Las Americas
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-social-google"></i>
              www.abchospital.com
            </a>
          </div>

        </div>
    </ion-content>
    
</ion-view>

<script>
    Waves.attach('.button');
</script>  