<ion-view view-title="Médica Sur">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/MedicaSur.jpg');">
            <div class="content">
                <h3><a class="light">Hospital Médica Sur</a></h3>
            </div>
        </div>
        <div class="text-left margin-left">
          El Check Up representa la manera más eficaz de evaluar las condiciones actuales de salud de las personas; además permite detectar oportunamente diversas enfermedades, lo que puede ser determinante para un tratamiento eficaz. Por lo anterior Interprotección pone a tu disposición los paquetes de check up divididos por edad a costo preferencial.
        </div>
        <div class="list resultados">
            <img src="img/MédicaSur.png" alt="Medica Sur"style="width: 100%;">
        </div>
    </ion-content>
    
</ion-view>