<ion-view view-title="Check-Ups">

    <ion-content>
        <div class="content">
            <div class="list condensed-space no-padding">
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image x2" href="#/app/checkangeles" >
                        <h2>Hospitales GrupoÁngeles</h2>
                        <img src="img/secciones/HospitalAngeles.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image x2" href="#/app/checksur">
                        <h2>Hospital Médica Sur</h2>                        
                        <img src="img/secciones/MedicaSur.jpg">
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
    
</ion-view>