<ion-view view-title="interApp" ng-init="inicio()">

    <ion-content>
        <div class="hero" ng-style="{'background-image': 'url(' + contenido.image + ')'}">
            <div class="content">
                <h3><a class="light">{{ contenido.name }}</a></h3>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap text-left"> 
                
                <div ng-bind-html="contenido.content | confiable" class="contenido"></div>
            </div>
        </div>
    </ion-content>
    
</ion-view>