<ion-view view-title="InterApp" ng-init="inicio()">

    <ion-content>
        <div class="content">

            <div class="list condensed-space no-padding">
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/laboratorios" >
                        <h2>Laboratorios</h2>
                        <img src="img/secciones/laboratorios.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/checkups">
                        <h2>Check-Ups</h2>                        
                        <img src="img/secciones/CheckUps.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/clinicas">
                        <h2>Clínicas de Cirugía Ambulatoria</h2>
                        <img src="img/secciones/ClinicasDeCirugiaAmbulatoria.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/busquedacristales">
                        <h2>Cristales</h2>            
                        <img src="img/secciones/Cristales.jpg">
                    </a>
                </div>

                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/talleres" >
                        <h2>Talleres de reparación</h2>
                        <img src="img/secciones/TalleresDeReparacion.jpg">
                    </a>
                </div>


                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/convenioshospitales" >
                        <h2>Hospitales</h2>
                        <img src="img/secciones/Hospitales.png">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/conveniosredmedica">
                        <h2>Red Médica</h2>                        
                        <img src="img/secciones/RedMedicaBENEFICIOS.png">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/ambulancias">
                        <h2>Ambulancias</h2>
                        <img src="img/secciones/Ambulancias.png">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/farmacias">
                        <h2>Farmacias de Alta Especialidad</h2>            
                        <img src="img/secciones/Farmacias.png">
                    </a>
                </div>

                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/enfermeria">
                        <h2>Servicios de Enfermería</h2>           
                        <img src="img/secciones/ServiciosEnfermeria.png">
                    </a>
                </div>

                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/oftalmologico">
                        <h2>Atención Oftalmológica</h2>           
                        <img src="img/secciones/Oftalmologico.jpg">
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
    
</ion-view>