<ion-view view-title="Interapp">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/RedMedicaBENEFICIOS.png');">
            <div class="content">
                <h3><a class="light">Red Médica</a></h3>
            </div>
        </div>
        <br>
        <div class="text-left margin-left">
          
          En Interprotección sabemos que la atención de un médico especialista es una necesidad de alto costo, pone a tu disposición la red médica de especialistas con costo preferencial de consultas que van desde $350 hasta $850 dependiendo el Hospital y la especialidad.
        
        </div>
        
        <div class="list resultados">

          <div ng-if="convenios.length == 0" class="card padding">
            No se encontraron resultados
          </div>
          
          <div class="card padding" ng-repeat="convenio in convenios">
            <a class="item item-icon-left" href="#">
              <i class="icon ion-person"></i>
              {{convenio.proveedor}}
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-home-outline"></i>
              {{convenio.direccion}}
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-telephone-outline"></i>
              {{convenio.telefono}}
            </a>
          </div>

        </div>
    </ion-content>
    
</ion-view>

<script>
    Waves.attach('.button');
</script>  