<ion-view view-title="interApp" ng-init="inicio()">

    <ion-content>
        <div class="content">

            <div class="list condensed-space no-padding">

                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/beneficios">
                        <h2>Lavoratorios</h2>           
                        <img src="img/secciones/BenficiosAdicionales.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/redmedica">
                        <h2>Check-Ups</h2>                        
                        <img src="img/secciones/RedMedicaMENÚ.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/digital">
                        <h2>Digital</h2>           
                        <img src="img/secciones/Digital.png">
                    </a>
                </div>

            </div>
        </div>
    </ion-content>
    
</ion-view>