<ion-view view-title="InterApp">

    <ion-content>
        <ion-list>
            <div class="card">
                <ion-item>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/0ax_HSBrgLE" frameborder="0" width="560" height="315"></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card">
                <ion-item>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/jyYas6O_-_Y" frameborder="0" width="560" height="315"></iframe>
                    </div>
                </ion-item>
            </div>
            <div class="card">
                <ion-item>
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/hcpt4T3mRok" frameborder="0" width="560" height="315"></iframe>
                    </div>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
    
</ion-view>