<ion-view view-title="InterApp">

    <ion-content>
        <video id="video" preload="metadata" controls webkit-playsinline poster="img/VS1.png">
            <source type="video/mp4" src="img/VS1.mp4"></source>
        </video>
        <br>
        <video id="video" preload="metadata" controls webkit-playsinline poster="img/VS2.png">
            <source type="video/mp4" src="img/VS2.mp4"></source>
        </video>
        <br>
        <video id="video" preload="metadata" controls webkit-playsinline poster="img/VS5.png">
            <source type="video/mp4" src="img/VS5.mp4"></source>
        </video>
    </ion-content>
    
</ion-view>