<ion-view view-title="interApp">

    <ion-content>
        <video id="video" preload="metadata" controls webkit-playsinline>
            <source type="video/mp4" src="img/VS1.mp4"></source>
        </video>
        <br>
        <video id="video" preload="metadata" controls webkit-playsinline>
            <source type="video/mp4" src="img/VS2.mp4"></source>
        </video>
        <br>
        <video id="video" preload="metadata" controls webkit-playsinline>
            <source type="video/mp4" src="img/VS5.mp4"></source>
        </video>
        <br>
        <!-- <div class="content">

            <div class="list condensed-space no-padding">
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/seguros" >
                        <h2>Mis Seguros</h2>
                        <img src="img/secciones/MisSeguros-01.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/redmedica">
                        <h2>Red Médica</h2>                        
                        <img src="img/secciones/RedMedicaMENÚ.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image" href="#/app/inter">
                        <h2>Inter Informa</h2>
                        <img src="img/secciones/InterInforma.png">
                    </a>
                </div>
            </div>
        </div> -->
    </ion-content>
    
</ion-view>