<ion-view view-title="InterApp">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/CheckUps.jpg');">
            <div class="content">
                <h3><a class="light">Resultado</a></h3>
            </div>
        </div>
        <div class="text-left margin-left">
          <h2>Especialidad</h2>
        </div>
        <div class="list resultados">

          <div ng-if="medicos.length == 0" class="card padding">
            No se encontraron resultados
          </div>
          
          <div class="card padding" ng-repeat="medico in medicos">
            <a class="item item-icon-left" href="#">
              <i class="icon ion-person"></i>
              {{medico.name}}
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-home-outline"></i>
              {{medico.calle}} <br>
              {{medico.numero}}
            </a>
            <a class="item item-icon-left" href="#">
              {{medico.colonia}} <br>
              {{medico.delegacion}} <br>
            </a>
            <a class="item item-icon-left" href="#">
              {{medico.codigo}}
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-telephone-outline"></i>
              <p ng-click="llamar(medico.telefono)">{{ medico.telefono }}</p>
              
            </a>
          </div>

        </div>
    </ion-content>
    
</ion-view>

<script>
    Waves.attach('.button');
</script>  