<ion-view view-title="Directorio">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/DirectorioDeMedicos.jpg');">
            <div class="content">
                <h3><a class="light">Directorio de Médicos</a></h3>
            </div>
        </div>
        <div class="text-center">
          Médicos en convenio.
          <br>
          Consulta el listado de nuestros Médicos
        </div>
        <div class="card">
          <div class="item item-text-wrap text-center"> 
            <strong>
              Es importante consultar la red de médicos a la que tienes derecho, para tener información más precisa marca al <a href="tel:01-800-911-9999">01 800 911 9999</a>
            </strong>
          </div>
          <div class="item item-text-wrap text-center"> 
            <form ng-submit="buscar()">
              <fieldset>
                <legend>Directorio de Médicos</legend>
                <br>
                <label class="item item-input item-select">
                    <div class="input-label">
                          Estado
                    </div>
                    <select>
                        <option selected>Selecciona</option>
                        <option>Distrito Federal</option>
                        <option>Estado de México</option>
                        <option>Puebla</option>
                        <option>Michoacan</option>
                    </select>
                </label>
                <br>
                <label class="item item-input item-select">
                    <div class="input-label">
                          Ciudad o Delegación
                    </div>
                    <select>
                        <option selected>Selecciona</option>
                        <option>Venustiano Carranza</option>
                        <option>Xochimilco</option>
                        <option>Cuahutemoc</option>
                        <option>Benito Juarez</option>
                    </select>
                </label>
                <br>
                <label class="item item-input item-select">
                    <div class="input-label">
                          Especialidad
                    </div>
                    <select>
                        <option selected>Selecciona</option>
                        <option>Endocrinología</option>
                        <option>Alergología</option>
                        <option>Neurología</option>
                        <option>Pediatría</option>
                    </select>
                </label>
                <br>
                <div class="padding-leftright">
                    <button type="submit" class="button button-raised button-full button-positive ink">Buscar</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="text-center">
           El contenido de este directorio puede variar acorde a los convenios de tu aseguradora. Si los datos no coinciden favor de comunicarte al 01800 5467 AXA
        </div>
    </ion-content>
    
</ion-view>

<script>
    Waves.attach('.button');
</script>  