<ion-view view-title="InterApp">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/ServiciosEnfermeria.png');">
            <div class="content">
                <h3><a class="light">Enfermería</a></h3>
            </div>
        </div>
        <br>
        <div class="text-left margin-left contenido">
          
          Interprotección preocupado por el cuidado de tus seres queridos pone a tu disposición un servicio de cuidado y atención profesional a domicilio, para personas que sufren problemas de salud. Los tipos de servicios que ofrecemos son:
          <ul class="padding">
            <li>Cuidadores</li>
            
            <li>Auxiliar de enfermería</li>
            
            <li>Enfermeros titulados </li> 
          </ul>
        
        </div>
        
        <div class="list resultados">

          <div ng-if="convenios.length == 0" class="card padding">
            No se encontraron resultados
          </div>
          
          <div class="card padding" ng-repeat="convenio in convenios">
            <a class="item item-icon-left" href="#">
              <i class="icon ion-person"></i>
              {{convenio.proveedor}}
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-home-outline"></i>
              {{convenio.direccion}}
            </a>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-ios-telephone-outline"></i>
              <p ng-click="llamar(convenio.telefono)">{{ convenio.telefono }}</p>
              
            </a>
          </div>

        </div>
    </ion-content>
    
</ion-view>

<script>
    Waves.attach('.button');
</script>  