<ion-view view-title="InterApp">

    <ion-content>
        <div class="content">
            <div class="list condensed-space no-padding">
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image x2" href="#/app/casahabitacion" >
                        <h2>Protege tu Casa Habitación</h2>
                        <img src="img/secciones/CasaHabitacion.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image x2" href="#/app/procedimientoatencion">
                        <h2>Procedimiento de Atención</h2>                        
                        <img src="img/secciones/EstadisticasCasaHabitacion.png">
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
    
</ion-view>