<ion-view view-title="Automovil">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/Automovil.jpg');">
            <div class="content">
                <h3><a class="light">Seguro Automovil</a></h3>
            </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap text-item"> 
            En interprotección estamos a la vanguardia con los productos mas innovadores en servicio de asistencia para autos. Nuestra red de servicioes lider en el mercado por tener una relacion directa con todas las compañias de seguros. Tenemos la pltaforma tecnológica mas avanzada de emision en linea y consulta Web.
          </div>
          <div class="item item-text-wrap text-item">
            Contrata hoy llamando al
            <br>
            <a href="tel:01-800-900-1292">01 800 900 1292</a>
          </div>
        </div>
    </ion-content>
    
</ion-view>