<ion-view view-title="Casa">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/CasaHabitacion.jpg');">
            <div class="content">
                <h3><a class="light">Casa habitación</a></h3>
            </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap text-item"> 
            Un seguro de Vida te permite proveer de recursos financieros a tu
            familia en caso de muerte, invalidez total y permanente por accidente o enfermedad.
          </div>
          <div class="item item-text-wrap text-item">
            Contrata hoy llamando al
            <br>
            <a href="tel:01-800-062-7373">01 800 062 7373</a>
          </div>
        </div>
    </ion-content>
    
</ion-view>