<ion-view view-title="Casa">

    <ion-content>
        <div class="hero" style="background-image: url('img/secciones/CasaHabitacion.jpg');">
            <div class="content">
                <h3><a class="light">Casa habitación</a></h3>
            </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap text-item"> 
            Te brindamos planes flexibles de protección que se adaptan a tus necesidades. Con esta póliza aseguramos tu patrimonio ante riegos como: incendio, explosión, inundación, daños por huracán, terremoto, erupción volcánica y robo, así como equipo electrónico y electrodoméstico. Si eres propietario o arrendatario del inmueble que habitas, la cobertura de responsabilidad civil familiar cubre el pago a un tercero, cuando tú o algún miembro de la familia haya ocasionado algún daño, así como los gastos de su defensa.

          </div>
          <div class="item item-text-wrap text-item">
            Contrata hoy llamando al
            <br>
            <a href="tel:01-800-062-7373">01 800 062 7373</a>
          </div>
        </div>
    </ion-content>
    
</ion-view>