<ion-view view-title="Red Médica">

    <ion-content>
        <div class="content">
            <div class="list condensed-space no-padding">
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image x2" href="#/app/directorio" >
                        <h2>Directorio de Médicos</h2>
                        <img src="img/secciones/DirectorioDeMedicos.jpg">
                    </a>
                </div>
                <div class="card dark-bg">
                    <a class="item clear-bg item-bg-image x2" href="#/app/hospitales">
                        <h2>Directorio de Hospitales</h2>                        
                        <img src="img/secciones/DirectorioDeHospitales.jpg">
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
    
</ion-view>